# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env/
env/
ENV/
venv.bak/
.virtualenv/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# dotenv environment variables file
.env
*.env

# Temporary files
*.tmp
*.bak
*.swp

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Pyre type checker
.pyre/

# Ruff cache
.ruff_cache/

# Poetry package manager files
poetry.lock

# System-specific files
*.orig
